* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timer {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 10px;
  text-align: center;
}

.box {
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  font-weight: 300;
  padding: 0px 2px;
}

.col-4:last-child .box {
  border-right-color: transparent;
}

.box p {
  font-size: calc(10px + 1vmin);
  margin: 0;
}

.text {
  font-size: 12px;
}
